.example {
  padding: 25px 20px 40px;
  width: 280px;
  background-color: #EAEAEA;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__wrapper {
  display: flex;
}

.example__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.example__list:last-child {
  margin-right: 0;
}

.example__number {
  color: #000;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.example__description {
  margin: 0;
  color: #444;
  text-align: center;
  font-family: "Lato", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__text-total {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slider__image {
  display: block;
  margin: 0;
}
