body {
  margin: 0;
}

.index-html__body {
  font-family: "Lato", "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #FFF;
  color: #444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.catalog-html__body {
  color: #444;
  font-family: "Lato", "Arial", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.form-html__body {
  color: #444;
  font-family: "Oswald", "Arial", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.button {
  display: block;
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #68B738;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 44px;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    background-color: #5EAA2F;
    opacity: 0.3;
  }
}

.card__button--more {
  background-color: #F2F2F2;
  color: #444;

  &:hover {
    background-color: #EBEBEB;
  }

  &:active {
    background-color: #EBEBEB;
  }
}
