.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  justify-items: center;
  padding: 20px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 10px 37px 40px 37px;
    background-image: linear-gradient(to top, #f2f2f2 84%, #ffffff 16%);
  }

  @media (min-width: @desktop-width) {
    padding: 10px 38px 40px 38px;
  }
}

.card--more {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 20px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 48px 18px 38px 18px;
    border: 2px solid #F2F2F2;
    align-self: end;
  }
}

.more__title {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding-top: 53px;
  color: #111;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
    max-width: 135px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    margin-bottom: 26px;
  }
}

.more__text {
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
  color: #444;
  font-family: "Lato", serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 82px;
    max-width: 170px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
  }
}

.card__image {
  grid-row: 1 / 3;
  display: block;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    margin-bottom: 12px;
  }
}

.card__title {
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;
  color: #222;
  font-family: "Oswald", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin:0 auto;
    max-width: 135px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
    max-width: 140px;
  }
}

.card__list {
  margin: 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: @tablet-width) {
    width: 250px;
    row-gap: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.card__category {
  margin: 0;
  justify-self: start;
}

.card__value {
  margin: 0;
  justify-self: end;
}

.card__button {
  margin-top: 17px;
  grid-column: 1 / -1;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
  }
  @media (min-width: @desktop-width) {
    margin-top:42px;
  }

}

.card__button--more {
  margin: 0;
  background-color: #F2F2F2;
  color: #444;
}
