.catalog-container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }
}

.catalog-container__title {
  padding-top: 27px;
  padding-bottom: 41px;
  background-color: #FFF;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 84px;
  }
}
