.additionally-field {
  margin-bottom:34px;
}

.additionally-list__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.additionally-list__item:last-child {
  margin-bottom: 0;
}

.additionally-list__check {
  margin:0;
  margin-right:15px;
}
