.form-container {
  width: 320px;
  margin: 0 auto;
}

.form-container__title {
  padding-top: 27px;
  margin-bottom: 37px;
  text-transform: none;
}

.selection {
  padding: 0 20px;
}

.selection__text {
  margin: 0;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  max-width: 230px;
  margin-bottom: 39px;
}

.selection-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.selection-form__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.selection-form__title {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
}

.selection-form__button {
  width: 100%;
  margin-bottom: 21px;
  white-space: nowrap;
}

.selection-form__note {
  color: #000;
  display: block;
  text-align: center;
  font-family: "Lato", serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin-bottom: 32px;
}
