.personality-field {
  margin-bottom:24px;
}

.personality-list__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.personality-list__item:last-child {
  margin-bottom: 0;
}

.personality-list__label {
  white-space: nowrap;
  margin-right:13px;
}

.personality-list__input {
  color:#444;
  font-family: "Oswald", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #E7E7E7;
  padding: 14px;
  padding-bottom: 13px;
  padding-left: 15px;
  flex-grow: 1;
}
