.purpose-field {
  margin-top:22px;
  margin-bottom:25px;

  @media (min-width: @tablet-width) {
    margin-top:0;
    margin-bottom: 65px;
    border: 1px solid #E7E7E7;
    padding: 23px 27px;
  }
  @media (min-width: @desktop-width) {
    width:570px;
    margin:0;
  }
}

.purpose-list__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 18px;
  }
}

.purpose-list__item:last-child {
  margin-bottom: 0;
}

.purpose-list__check {
  margin:0;
  margin-right:15px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}
